li  {
  padding: 1em 0;
  font-weight: bold;
}
li a {
   margin: 0 1em;
}

ul .nav.active{
    background: #f3f4f6; 
    color: gray;
}

ul li:hover {
    background: #f3f4f6;
}

hr{
  opacity: .2;
}

main {
  background: #f3f4f6;
}